//colors
$green: #9bd6a1;
$blue: #a9c7f4;
$red: #ec3d30;

$black: #121212;
$grey: #818181;
$white: #fff;

//default margins
$defaultTop: 5.625rem;
$contentMarginDesktop: 8.75rem;
$contentMarginMobile: 1.25rem;

//transition
$transitionFirst: 0.2s cubic-bezier(0.44, 0.07, 0.95, 0.4);
